@model InSite.Mvc.Models.ViewModels.ConfigurationOptionViewModel
<div id="@(Model.Name)Wrapper" class="configurator-option-wrapper">
    <label class="configurator-option-label" id="@(Model.Name)">@Model.LabelValue</label>
</div>
<br />