<?xml version="1.0"?>
<configuration>
  <system.webServer>
    <httpProtocol allowKeepAlive="true">
      <customHeaders>
        <clear />
        <add name="p3p" value="policyref=&quot;/w3c/privacy.htm&quot;, CP=&quot;IDC DSP COR ADM DEVi TAIi PSA PSD IVAi IVDi CONi HIS OUR IND CNT&quot;" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
</configuration>