@{
    Layout = null;
}


<html lang="en">

<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script src="/console/AC_OETags.js" language="javascript"></script>
<link rel="stylesheet" type="text/css" href="/console/history/history.css" />
<title>Commerce Management Console</title>
<script src="/console/history/history.js" language="javascript"></script>

<style>
	body { margin: 0px; overflow:hidden }
</style>

</head>

<body scroll="no">
<script language="JavaScript" type="text/javascript">

    var requiredMajorVersion = 9;
    var requiredMinorVersion = 0;
    var requiredRevision = 124;

    function onFlexInitialized() {
        document.getElementById("InSiteMC").focus();
    }
    
    //Editor JS
    var htmlData = "default";

    function openEditor(url, content) {
        var height = window.innerHeight - 50;
        var width = window.innerWidth - 50;
        var params = [
            'titlebar=yes',
            'resizable=yes',
            'height='+height,
            'width='+width
        ].join(',');
        window.open(url, "Editor", params);
        
        htmlData = content;
    }

    function saveContent(content) {
        InSiteMC.saveContent(content);
    }

    function openFinder(url) {
        var height = window.innerHeight - 50;
        var width = window.innerWidth - 50;
        var params = [
            'titlebar=yes',
            'resizable=yes',
            'height='+height,
            'width='+width
        ].join(',');
        window.open(url, "Finder", params);
    }

    function fileSelected(selectedFileName) {
        InSiteMC.fileSelected(selectedFileName);
    }

    var hasProductInstall = DetectFlashVer(6, 0, 65);

    var hasRequestedVersion = DetectFlashVer(requiredMajorVersion, requiredMinorVersion, requiredRevision);

    if (hasProductInstall && !hasRequestedVersion) {
        // DO NOT MODIFY THE FOLLOWING FOUR LINES
        // Location visited after installation is complete if installation is required
        var MMPlayerType = (isIE == true) ? "ActiveX" : "PlugIn";
        var MMredirectURL = window.location;
        document.title = document.title.slice(0, 47) + " - Flash Player Installation";
        var MMdoctitle = document.title;

        AC_FL_RunContent(
		"src", "playerProductInstall",
		"FlashVars", "MMredirectURL=" + MMredirectURL + '&MMplayerType=' + MMPlayerType + '&MMdoctitle=' + MMdoctitle + "",
		"width", "100%",
		"height", "100%",
		"align", "middle",
		"id", "InSiteMC",
		"quality", "high",
		"bgcolor", "#869ca7",
            "name", "InSiteMC",
		"allowScriptAccess", "sameDomain",
		"type", "application/x-shockwave-flash",
		"pluginspage", "http://www.adobe.com/go/getflashplayer"
	);
    } else if (hasRequestedVersion) {
        // if we've detected an acceptable version
        // embed the Flash Content SWF when all tests are passed
        AC_FL_RunContent(
			"src", 'InSiteMC.swf?@ViewData["Version"]',
			"flashVars", '@ViewData["FlashVars"]',
			"width", "100%",
			"height", "100%",
			"align", "middle",
			"id", "InSiteMC",
            "wmode", "opaque",
			"quality", "high",
			"bgcolor", "#78A2CA",
			"name", "InSiteMC",
			"allowScriptAccess", "sameDomain",
			"type", "application/x-shockwave-flash",
			"pluginspage", "http://www.adobe.com/go/getflashplayer"
	);
    } else {  // flash is too old or we can't detect the plugin
        var alternateContent = 'This content requires the Adobe Flash Player. '
   	+ '<a href=http://www.adobe.com/go/getflash/>Get Flash</a>';
        document.write(alternateContent);  // insert non-flash content
    }

</script>
<noscript>
  	<object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000"
			id="InSiteMC" width="100%" height="100%"
			codebase="http://fpdownload.macromedia.com/get/flashplayer/current/swflash.cab">
			<param name="movie" value="InSiteMC.swf" />
			<param name="quality" value="high" />
			<param name="bgcolor" value="#869ca7" />
			<param name="allowScriptAccess" value="sameDomain" />
			<embed src="InSiteMC.swf" quality="high" bgcolor="#869ca7"
				width="100%" height="100%" name="InSiteMC" align="middle"
				play="true"
				loop="false"
				quality="high"
				allowScriptAccess="sameDomain"
				type="application/x-shockwave-flash"
				pluginspage="http://www.adobe.com/go/getflashplayer">
			</embed>
	</object>
</noscript>
</body>
</html>
